$global-primary-background: #d46f4d !default;
$global-link-color: #d46f4d;
$global-font-family: 'Asap', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

$text-primary-color: hsl(0, 0, 24%);

$color-option-one: hsl(35, 100%, 70%);
$color-option-two: hsl(184, 93%, 43%);

$global-secondary-background: hsl(190, 100%, 13%);